<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Transfer App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion [value]="i" *ngFor="let data of data; index as i">
      <ion-item slot="header" color="light">
        <ion-grid>
          <ion-row class="trans_accord">
            <ion-col size="1">
              <ion-icon name="pencil-outline" color="primary" (click)="editTransaction($event, data)"></ion-icon>
            </ion-col>
            <ion-col size="4">{{ data.account_holder }}</ion-col>
            <ion-col size="4">{{ data.amount }}</ion-col>
            <ion-col size="1">
              <ion-icon name="trash-outline" color="danger" (click)="deleteTransaction($event, data.id)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <div slot="content">
        <ion-row>
          <ion-col><strong>Date: </strong>{{ data.date | date : 'dd-MM-yyyy' }}</ion-col>
          <ion-col><strong>IBAN: </strong>{{ data.iban | ibanFormatter }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><strong>Note: </strong>{{ data.note }}</ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="createTransaction()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
